@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@100;200;300;400&family=Permanent+Marker&family=Playfair+Display+SC:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@100;200;300;400&family=Permanent+Marker&family=Playfair+Display+SC:wght@400;700&family=Splash&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

.Night {
  z-index: -1;
  background: rgb(2, 0, 36);
  font-family: "Splash", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

p {
  color: #fff;
  font-size: 2.5rem;
}

.poemText {
  padding: 1rem 3rem;
}

.section,
.headerSection {
  width: 100vw;
  height: 100vh;
}

/* ======================= Title page ======================= */
.titleText {
  text-align: center;
  padding: 4rem;
  color: white;
}

.titleText > p:nth-child(1) {
  font-size: 6rem;
}

.titleText > p {
  font-size: 1.5rem;
}

.headerSection {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 100%
  );
}

.poemTitleContainer {
  position: relative;
}

.seaContainer {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 0;
}

.seaContainer > .seaTopContainer {
  position: absolute;
  width: 100%;
  bottom: 10%;
  /* height: inherit; */
}

.seaContainer > .seaBottomContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.titlePageBlockColour {
  z-index: 0;
  position: absolute;
  background: #01417a;
  width: 100%;
  height: 10vh;
  bottom: 0;
}

.treesBg {
  background-image: url("../assets/png/trees.png");
  background-repeat: repeat-x;
  /* filter: invert(); */
  height: 500px;
  margin: 96px 0 auto;
}

/* ======================= Page 2 =======================*/
.page2Container {
  position: relative;
}

/* ======================= Page 3 ======================= */
.page3Container {
  position: relative;
}

/* ======================= Page 4 ======================= */

/* ======================= Page 5 ======================= */

.section:nth-child(5) > .poemText {
  position: absolute;
  top: 15%;
}

.wingsContainer {
  position: absolute;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15%;
}
.wings {
  height: 75vh;
  width: 80%;
  /* transform: scale(0.8); */
}
/* ======================= Page 6 ======================= */
.rocksContainer {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 0;
}

.rock {
  position: absolute;
  bottom: 0;
  transform: scaleX(1.5);
}

/* .rock:nth-child(1)::after {
    background: red;
    content: "";
    width: 100%;
    height: 3vh;
} */

.pg6BlockColour {
  z-index: 1;
  background: rgb(47, 45, 58);
  height: 5vh;
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* ======================= Page 7 ======================= */

.section:nth-child(7) > .poemText {
  position: absolute;
  top: 0;
}

.icarusDrowning {
  transform: scale(1.5) rotate(-90deg);
  position: absolute;
  top: 35%;
}

/* DELETE BELOW LATER */
#page2 {
  z-index: 5;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #01417a;
}
#page3 {
  z-index: 0;
  position: absolute;
  top: 100%;
  left: 0;
  border: 3px red solid;
  background-color: darkturquoise;
}
#page4 {
  position: relative;
  background-color: rgb(175, 76, 175);
}
#page5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: palevioletred;
}
#page6 {
  position: relative;
  background-color: darkseagreen;
}
#page7 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgb(47, 45, 58);
  background: linear-gradient(
    180deg,
    rgba(47, 45, 58, 1) 0%,
    rgb(16, 16, 16) 85%
  );
}
