@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@100;200;300;400&family=Permanent+Marker&family=Playfair+Display+SC:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Inter:wght@100;200;300;400&family=Permanent+Marker&family=Playfair+Display+SC:wght@400;700&family=Splash&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

.Night {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 10%);
  font-family: "Splash", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

p {
    color: #fff;
    font-size: 2.5rem;
}

.poemText {
    padding: 1rem 3rem;
}

.section, .headerSection {
  width: 100vw;
  height: 100vh;
}

/* ======================= Title page ======================= */
.titleText {
  text-align: center;
  padding: 4rem;
  color: white;
}

.titleText > p:nth-child(1) {
  font-size: 6rem;
}

.titleText > p {
  font-size: 1.5rem;
}

.header #page1 {
    position: relative;
    background-color: #2F2D3A;
    height: 100vh;
}

.poemTitleContainer {
    position: relative;
}


.seaContainer {
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0; 
}

.seaContainer  > .seaTopContainer{
    position: absolute;
    width: 100%;
    bottom: 5%;
}

.seaContainer  > .seaBottomContainer{
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* ======================= Page 2 =======================*/
.treesBg {
    height: 300px;
    background-image: url("../assets/png/trees.png");
    background-repeat: repeat-x;
}
/* ======================= Page 3 ======================= */

/* ======================= Page 4 ======================= */

/* ======================= Page 5 ======================= */
.rocksContainer {
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0; 
}

.rock {
    position: absolute;
    bottom: 0;
    transform: scaleX(1.5);
}

/* .rock:nth-child(1)::after {
    background: red;
    content: "";
    width: 100%;
    height: 3vh;
} */

.pg6BlockColour {
    background: rgb(47,45,58);
    height: 1vh;
    bottom: 0;
    position: absolute;
    width: 100%;
}
/* ======================= Page 6 ======================= */

.wingsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}
.wings {
    transform: scale(0.35);
    position: absolute;
}


/* ======================= Page 7 ======================= */

/* DELETE BELOW LATER */
#page2 {
    position: relative;
    background-color: #01417A;
}
#page3 {
    position: relative;
    background-color: darkturquoise;
}
#page4 {
    position: relative;
    background-color: rgb(175, 76, 175);
}
#page5 {
    position: relative;
    background-color: palevioletred;
}
#page6 {
    position: relative;
    background-color: darkseagreen;
}
#page7{
    position: relative;
    background: rgb(47,45,58);
background: linear-gradient(180deg, rgba(47,45,58,1) 0%, rgba(0,0,0,1) 85%);
}